*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    /* background-color: red; */
    background-color: azure;
}


.header {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.header_content {

    display: flex;
    /* flex-direction: ; */
    justify-content:space-between;
    max-width: 955px;
    max-height: 355px;

    margin:0 auto;
    align-items: center;


}






.right_box{

    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap: 5px;


}


.logo_image {

    width: 115px;
    height: 115px;
    border-radius: 50%;
    border:3px solid grey;
}


.logo_text {
    text-align: center;
    /* font-size: medium; */
    font-weight:bold;
    color: red;
    /* font-style: bold; */
    /* font-size: x-large; */
}

.nav {

    display: flex;
    gap: 35px;
    align-items: center;
    /* background-image:url(nav_background.html) */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-weight: bold;
    font-size: large;
    /* text-decoration: none; */
}

.nav a {

    text-decoration: none;
color:blueviolet;
}

.contact_button{

    padding:9px;
    background: transparent;
    background-color:rgb(104, 94, 217);
    color: white;
    z-index: 5;
    /* border: 5px solid grey; */
    border-radius: 7%;
}




/* 
.main_content {

    display: flex;
}



.main_heading {


    color: red;
text-align: center;
} */