@media (max-width:651px) {

    .nav{

        display: none;
        margin-left: 5px;
       background-color:red ;
    }
    
}


@media (max-width:343) {

    
    .header{

display: flex;
flex-direction: column;
    }
    
}




@media (max-width:343){

.header_content{


    display: flex;
    flex-direction: column;
}


}