
@media screen and (max-width:768px) {


.header_content {

display:flex;

justify-content: space-between;
/* gap:1.5rem; */
/* margin-top: 0.5rem; */

}


.right_box{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-left: 5rem; */
}


.contact_button {
/* 

    background-color:rgb(104, 94, 217);
    transition: background-color 0.3 ease; */

display: none;
}


.contact_button:hover{

width: 100%;
color: grey;
background-color: rgb(0, 255, 251);
/* transform: scale(200px); */
color: red;

}



    .nav{

        display: none;
        margin-left: 5px;
       background-color:blue;
    }
  
    
.menu_button{

    display: block;

    /* border: 3px solid black; */
    border-radius: 5%;
}

.menu_icon{

    width:100%;
    display: block;
}

.hero_right_box{

    height: 45vh;
}


.hero_section_1 {

/* display: flex; */
flex-direction: column;


}



.hero_left_box {

    max-width: 100%;
    /* margin: 0 auto; */

    display: flex;
    flex-direction: column;
    align-items: center;


}



.hero_heading{

    font-size: 2.3rem;
    width: 100%;
    text-align: center;
}
.hero_desc{
    width: 100%;
    text-align: center;
}





}







@media  screen and (max-width:675px) {
 
    .hero_right_box{

        height:41vh;
        width: 55vw;
    }

    .hero_section_2_heading{
        font-size: 1.5rem;
    }
}


@media  screen and (max-width:731px) {

    .company_container {

        grid-template-columns: repeat(2,1fr);
    }
    
}



@media screen and (max-width:605px) {

    .feature_grid{

    grid-template-columns: repeat(1,1fr);
    }
}