
@media screen and (max-width:651px) {


.header_content {

display:flex;
/* flex-direction: column; */
gap:1.5rem;

}


.right_box{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5rem;
}


.contact_button {
/* 

    background-color:rgb(104, 94, 217);
    transition: background-color 0.3 ease; */

display: none;
}


.contact_button:hover{

width: 100%;
color: grey;
background-color: rgb(0, 255, 251);
/* transform: scale(200px); */
color: red;

}



    .nav{

        display: none;
        margin-left: 5px;
       background-color:blue;
    }
  
    
.menu_button{

    display: block;
}

}





